.txt-principal-sa{
  color: var(--Branco, #E6E0E6);
text-shadow:   2.8125rem -2.9375rem .825rem rgba(0, 0, 0, 0.25);
font-family: "Cirka";
font-size: 7.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.0063rem;
word-break: break-all;
}
.hero__sa{
  height: 80%;
  padding-left: 5rem;
  display: grid;
  grid-template-columns: 1.3fr 1fr;

  hr {
    height: .125rem;
    background-color: #e6e0e6;
    width: 70%;
  }
}

.article-content-s-a {
  font-size: 1.4rem;
  color: #E6E0E6;

  p {
    margin-bottom: 1.25rem;
    color: inherit;
    line-height: 150%;

    &:last-child {
      margin: 0;
    }
  }

  a {
    font-size: 1rem;
    color: #E6E0E6;
    transition: color 200ms ease;

    &:hover {
      font-weight: 500;
      color: darken(#E6E0E6, 15);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 800;
    color: #E6E0E6;
    font-family: "Cirka";
    text-align: center;
    font-size: 10rem;
    line-height: 120%;
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;

    &:first-child {
      margin-top: 0;
    }
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 2.5rem;
    margin-top: 4rem;
  }

  h3 {
    margin-top: 3rem;
    font-size: 1.5rem;
  }

  h4 {
    margin-top: 1.5rem;
    font-size: 2rem;
    line-height: 130%;
  }

  h5,
  h6 {
    margin-top: 1rem;
    font-size: 1.125rem;
    line-height: 130%;
  }

  img {
    width: 100%;
    margin-bottom: 1.25rem;
    height: auto;
    object-fit: cover;
  }

  ul {
    padding: .625rem 3.75rem;
    font-size: 1rem !important;
  }

  li {
    margin-bottom: 0.25rem;
  }

  iframe {
    max-width: 100%;
  }
}
