.contato {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  .titulo {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: .625rem;
    h2 {
      color: var(--Preto, #212421);
      font-family: "Gotham";
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    p {
      color: #717171;

      text-align: center;
      font-family: "Gotham";
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

}
.hero__subpages{
  width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;

}
.subpage-pg{
  transform: translateY(-30%);
}
.hero-txt-subpages{
  text-align: center;
  max-width: 56.25rem;

  display: flex;
  flex-direction: column;

  h1{
    text-shadow: 2.8125rem -2.9375rem .825rem rgba(0, 0, 0, 0.25);
    color: #FFF;
font-family: "Cirka";
font-size: 7.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.0063rem;

  }
  p{

    color: var(--Branco, #E6E0E6);


    text-align: center;
    font-family: "Cirka";
    font-size: 2.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.0063rem;
  }
}
.hero__wrap_subpages{
  hr{
    border: 1px solid #E6E0E6;
    transform: translateX(-10%);
    width: 130%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}
.contato-info-txt {
  justify-content: start;
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  h2 {
    color: var(--Branco, #e6e0e6);
    font-family: "Gotham";
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  p {
    color: var(--Branco, #e6e0e6);
    font-family: "Gotham";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.contato-bloco {
  display: grid;
  gap: 3.125rem;
  grid-template-columns: 30.625rem auto;
  padding: .625rem;
  border-radius: .5rem;
  background: #f4fcff;

  box-shadow: 0px 0px 3.75rem 1.875rem rgba(0, 0, 0, 0.03);
}
.contato-info-loc {
  display: flex;
  flex-direction: column;
  gap: .9375rem;
  a {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: .9375rem;
  transition: transform 0.53s ease;

    color: #e6e0e6;
    align-items: center;
    &:hover{
      transform: scale(1.1);
    }
  }
}
.contato-info {
  padding: 2.5rem 1.5625rem;
  display: flex;
  flex-direction: column;
  gap: 7.5rem;



  .redes-sociais {
    display: flex;
    flex-direction: row;
    gap: .625rem;
    a {
      padding: 0.5rem;
    transition: transform 0.53s ease;


      color: #e6e0e6;
      align-items: center;

    }
  }
}

.contato-form{
  display: flex;
  justify-content: center;
  align-items: center;
  form{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 3.125rem ;

    input[type="submit"] {
      border-radius: .5rem;
      background-color: #212421;
      border: none;
      padding: 1rem 0;
      color: var(--Branco, #E6E0E6);
      text-align: center;
      font-family: "Gotham";
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      transition: .43s ease-in-out;
      &:hover{
        background-color: #0C366A;
      }
      }
  .form-item{
    display: flex;
    flex-direction: column;
    gap: .625rem;

    label{
      color: var(--Preto, #212421);

      font-family: "Gotham";
      font-size: .75rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.25rem; /* 166.667% */
    }
    input,textarea{
      border: none;
      background: none;
      &::placeholder{
        color: #8D8D8D;
        font-family: "Gotham";
        font-size: .875rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.25rem; /* 142.857% */
      }
      &:focus {
        outline: none; // Remover o contorno ao focar
      }

    }

  }
  }
}
