* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




.whatsapp-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1000000;

  svg{
    animation: pulse 8s infinite;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }


}

.width-100{
  width: 100%;
}

.btn-sec{
  padding: 9px 20px;
  border:3px solid #E6E0E6;
  color: #E6E0E6;
  transition: .4s;
  &:hover{
    background-color: #0C366A;
  }
}
.txt-principal{
    color: #E6E0E6;

  text-shadow: 45px -47px 13.2px rgba(0, 0, 0, 0.25);
  font-family: "Cirka";
  font-size: 66px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.1px;
  span{
    color: #fff;
  }
}
.gotham{
  font-family: "Gotham";
  font-size: 18px;
font-style: normal;
line-height: 26px; /* 144.444% */
letter-spacing: -0.1px;
}
.bold{
  font-weight: 700;
}
.bd-sm{
  border-radius: 8px;
}
.btn-pri{
text-transform: uppercase !important;
  padding: 12px 20px;
  background-color: #0C233F;
  color: #E6E0E6;
  transition: .4s;
  &:hover{
    background-color: #0C366A;
    padding: 12px 21px;
  }
}
// pag 404
.erro{
  text-align: center;
  h1{
    font-size: 4.375rem;
  }
  h2{
    font-size: 2.875rem;
  }
}


a {
  text-decoration: none;
}

ul {
  list-style: none;
}


body {
  position: relative;
  background-color: #F4FCFF;
  font-family: "Cirka";

}
.p-80{
  padding-left: 80px;
  padding-right: 80px;
}
.container {
  // border: 1px solid red;
  max-width: 1620px;
  margin: 0 auto;
}


.secao {
  padding: 120px 0;
}


/* GRIDS */
.grid-1 {
  /* border: 1px solid greenyellow; */
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.grid-2 {
  // border: 1px solid greenyellow;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;

}


.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.grid-5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
}

.grid-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
}

.grid-7{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 40px;
}

.grid-8{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 40px;
}



@media screen and (max-width: 960px) {
  .grid-2 {
    grid-template-columns: 1fr;
    gap: 80px;


    img{
      width: 100%;
    }
  }

  .grid-3 {
    grid-template-columns: 2fr;
  }

}



@media screen and (max-width: 1420px) {
  .container {
    padding: 0px 30px;
    max-width: 100%;
  }



  .grid-4 {
    grid-template-columns: repeat(2, 1fr);
  }

  .col-100 {
    max-width: 100%;
  }
}



@media screen and (max-width: 1024px) {



  }



