/* Cirka Fonts */
@font-face {
  font-family: "Cirka";
  src: url("../fontes/Cirka-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family:"Cirka";
  src: url("../fontes/Cirka-Variable.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cirka";
  src: url("../fontes/Cirka-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

/* Gotham Fonts */
@font-face {
  font-family: "Gotham";
  src: url("../fontes/Gotham-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("../fontes/Gotham-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Gotham";
  src: url("../fontes/GothamBook.ttf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("../fontes/Gotham-BookItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Gotham";
  src: url("../fontes/Gotham-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

